/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-dic-2017, 6:56:18
    Author     : golu
*/

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}
.body{
   
   width: 100%;

    background-image: url(../IMG/leaf.jpg);

    
}

.contenedor{

    display: flex;
    width: 35%;
    height: 28px;
    color: #323232;
    font-size: 30px;
    line-height: 30px;
    font-family: serif;
    position: absolute;
    top: 70%;
    right: 0;
    left: 0;

    margin: auto;
    overflow: hidden;
justify-content: center;
}

ul{
    list-style: none;
    padding-left: 10px;
    animation: cambiar 7s infinite;
}

ul. p{
    margin: 0;

}


@keyframes cambiar{
    0%{margin-top:0;}
    20%{margin-top:0;}

    25%{margin-top:-27px;}
    50%{margin-top:-27px;}

    55%{margin-top:-57px;} 
    80%{margin-top:-57px;} 

    85%{margin-top:-90px;} 
    95%{margin-top:-90px;} 


}






.container{
    display: table-cell;
    vertical-align: middle;
    
    
}



form{
    margin: auto;
    width: 30%;
    max-width:20%;
    
    background: #f3f3f3;
    padding: 25px;
    border: 1px solid rgba(0,0,0,0.2);


}
h2{
    text-align: center;
    margin-bottom: 20px;
    color: rgba(0,0,0,0.5);

}

input{
    display: block;
    padding: 5px;
    width: 100%;
    margin: 15px 0;
    font-size: 15px;
}

input[type="submit"]{
    background: linear-gradient(#CCEFFF   ,#05EAF9    );
    border: 0;
    color: black;
    opacity: 0.9;
    cursor: pointer;
    border-radius: 16px;
    margin-bottom: 0;
}

inputt[type="submit"]:hover{
    opacity:1;
}
inputt[type="submit"]:active{
    transform: scale(2);
}


.btnAccesar {

}
