/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-dic-2017, 6:56:18
    Author     : golu
*/
.bg{
    height: 100vh;
    width: 100%;
    position: fixed;

}
.logo{

    position:inherit;


}

body{
background:;    
}

  .fon{
       background: url(../img/fondopantalla.jpg);
       overflow: visible;
       position: initial;
  height: 100%;  
  }

.login{ 
    vertical-align: middle;
    display: table-cell;
  

}


.form-conatiner{ 
    border: 1px solid #fff ;    
    padding: 50px 60px;
    margin-top: 20vh;
    -webkit-box-shadow: 10px 10px 5px 0px rgba (0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba (0,0,0,0.75);
    caja-sombra: 10px 10px 5px 0px rgba (0,0,0,0.75);
}