header{
    background: #2c3e50;
    color:  #1b6d85;
}


main{
    background: #f2f2f2;

}

.color1{
    background: #34495e;
    color: #fff;

}

aside{
    background: #c0392b;
    color: #fff;
}
.fondo{
    position: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}