body {
    background: url(../fondos/homtraje.png)no-repeat; 
    height: 100%;
    width: 100%;
    margin: auto;
    display: absolute;
    top: 100%;
    right: 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;



}

.contenedor {
    display: flex; 
    width: 350px;
    height: 40px;
    color:#000;
    font-size: 40px;
    line-height: 40px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin:auto;     




}
.caja{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:100%;
    height: 150px;
    box-sizing: border-box;
    background: rgba(67,149,209,.5);
    padding: 0;
    margin: 0;
    display: inline;

}

ul, p{
    list-style: none;
    padding-left: 10px;
    animation: cambiar 7s infinite;
}
ul, p{ 
    margin: 0;
}

@keyframes cambiar{
    0%{margin-top: 0;}
    20%{margin-top: 0;}

    25%{margin-top: -40px;}
    50%{margin-top: -40px;}

    55%{margin-top: 0px;}
    70%{margin-top: 0px}

 



}



.fondo {
    height: 0%;
    width: 0;
    margin: 0;
    display: table;
    top: 0;
    background-size: cover;
    padding: 0;
}




.entrar {
  font-family: arial, sans-serif;
  font-size: 135%;
  font-weight: 900;
  color: #3a6168;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 9px;
   text-align:  center;
    width: 30px;
    left: 50%;
   vertical-align: central;
      display: flex;
}
.entrar:hover{
     color:#fff;
    border: #fff;
}
